---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { generateMetadata } from 'virtual:@lucky-media/astro-seo'
import { getPost } from '../../lib/cms.ts'

const { slug } = Astro.params
const post = await getPost(slug!)

if (!post) return Astro.redirect('/404')

const metadata = generateMetadata({
  title: post.title,
  description: post.excerpt,
  openGraph: {
    type: 'article',
    title: post.title,
    description: post.excerpt,
    images: [{ url: `/og/blog/${slug}.png`, alt: post.title }],
  },
  twitter: {
    title: post.title,
    description: post.excerpt,
    images: [{ url: `/og/blog/${slug}.png`, alt: post.title }],
  },
})
---

<BaseLayout metadata={metadata}>
  <article>
    <h1>{post.title}</h1>
    <p><em>{post.excerpt}</em></p>
    <p>{post.content}</p>
  </article>
</BaseLayout>
